
# Income&Expense_py

## Import pandas

In [1]:
import pandas as pd
import numpy as np

## Archives Getting

archive .XLSX

the month must be exactly the sheet name you want into analysis

In [2]:
month = input('What month: ')

What month: agosto

In [3]:
df_items = pd.read_excel('items_de_receitas&despesas.xlsx', sheet_name = month, skiprows = 0)

## Data Treatment

### Renaming column names

In [4]:
df_items.head()

,Descrição,Valor,Data,Tipo,Classificação
0,Sorvete manaura mikaela,2.5,2020-08-02,Despesa,Variável
1,Livro Harry Potter Order of the Phoenix,39.9,2020-08-02,Despesa,Variável
2,Duas blusa Taco,51.8,2020-08-02,Despesa,Eventual Esperada
3,Mouse e mousepad,29.9,2020-08-02,Despesa,Emergência
4,Corrida Pop/Uber,30.4,2020-08-02,Despesa,Variável

In [5]:
df_items = df_items.rename(columns = {'Descrição': 'descricao','Valor':'valor', 'Data':'data', 'Tipo':'tipo', 'Classificação':'classif'})

In [6]:
df_items.head()

,descricao,valor,data,tipo,classif
0,Sorvete manaura mikaela,2.5,2020-08-02,Despesa,Variável
1,Livro Harry Potter Order of the Phoenix,39.9,2020-08-02,Despesa,Variável
2,Duas blusa Taco,51.8,2020-08-02,Despesa,Eventual Esperada
3,Mouse e mousepad,29.9,2020-08-02,Despesa,Emergência
4,Corrida Pop/Uber,30.4,2020-08-02,Despesa,Variável

### Reordering columns

In [7]:
 df_items = df_items[['descricao','data','tipo','classif', 'valor']]

### Verifying column type

In [8]:
df_items.dtypes

descricao            object
data         datetime64[ns]
tipo                 object
classif              object
valor               float64
dtype: object

### Deleting column

In [9]:
df_items = df_items.drop(['data'], axis = 'columns')

In [10]:
df_items.head()

                                 descricao     tipo            classif  valor
0                  Sorvete manaura mikaela  Despesa           Variável    2.5
1  Livro Harry Potter Order of the Phoenix  Despesa           Variável   39.9
2                          Duas blusa Taco  Despesa  Eventual Esperada   51.8
3                         Mouse e mousepad  Despesa         Emergência   29.9
4                         Corrida Pop/Uber  Despesa           Variável   30.4

### Grouping data

Grouping by 'descricao' and suming their respective values

In [11]:
df_items = df_items.groupby(['descricao', 'tipo','classif']).agg({'valor':'sum'}).reset_index(drop = False)

In [12]:
df_items

,descricao,tipo,classif,valor
0,Açaí frozen,Despesa,Variável,12.00
1,Biscoito mais Suco,Despesa,Variável,7.00
2,Cinco limões,Despesa,Variável,2.50
3,Coca gelada,Despesa,Variável,9.50
4,Corrida Pop/Uber,Despesa,Variável,93.98
5,Crédito Passa-Fácil,Despesa,Fixa,100.00
6,Duas blusa Taco,Despesa,Eventual Esperada,51.80
7,Fundação Universitas Projeto DCIoT,Receita,Fixa,1400.00
8,Garrafão de água,Despesa,Variável,14.50
9,Inglês EST Idiomas,Despesa,Fixa,120.00
10,Livro Harry Potter Order of the Phoenix,Despesa,Variável,39.90
11,Livro Inglês 4A,Despesa,Eventual Esperada,192.00
12,Lâmpada LED 12W,Despesa,Eventual Esperada,11.40
13,Mingau,Despesa,Variável,2.00
14,Mouse e mousepad,Despesa,Emergência,29.90
15,Netflix,Despesa,Fixa,32.90
16,Pizza Beg,Despesa,Variável,20.00
17,"Queijo, molho de tomate e sabão em pó",Despesa,Variável,20.24
18,Recarga Claro,Despesa,Fixa,20.00
19,Rendimento Poupança,Receita,Extra,1.97
20,Rodízio Dona Pizza,Despesa,Variável,34.00
21,Sanduíche de carne e café,Despesa,Variável,18.00
22,Sorvete manaura mikaela,Despesa,Variável,2.50
23,Spotify,Despesa,Fixa,8.50
24,Suco de laranja e dindin,Despesa,Variável,3.00
25,Tandem + Amazon Prime Fatura Digio,Despesa,Dívida,124.89
26,Tarifa Bancária Bradesco,Despesa,Fixa,7.70
27,Transferência Derimar Bradesco,Despesa,Eventual Esperada,400.00
28,Transferência Derimar Bradesco,Receita,Variável,249.23
29,Transferência Edson PicPay,Receita,Extra,5.00
30,Transferência Manoel Bradesco,Receita,Extra,15.00
31,Transferência Márcia PicPay,Receita,Extra,6.00
32,Três bombons de cupuaçu,Despesa,Variável,2.00

### Sorting Data

This is the sorting order I like to sort my items. You are able to modify it by changing the numbers in the dict beneath ;)

In [13]:
order_sort = {'Despesa':1, 'Receita':0, 'Fixa':2, 'Variável':3, 'Extra':4, 'Eventual Esperada':5, 'Emergẽncia':6, 'Dívida':7}

In [14]:
df_items = df_items.sort_values(['valor'], ascending = True)

In [15]:
df_items = df_items.sort_values(by=['tipo', 'classif'], key=lambda x: x.map(order_sort)).reset_index(drop = True)

In [16]:
df_items

,descricao,tipo,classif,valor
0,Fundação Universitas Projeto DCIoT,Receita,Fixa,1400.00
1,Transferência Derimar Bradesco,Receita,Variável,249.23
2,Rendimento Poupança,Receita,Extra,1.97
3,Transferência Edson PicPay,Receita,Extra,5.00
4,Transferência Márcia PicPay,Receita,Extra,6.00
5,Transferência Manoel Bradesco,Receita,Extra,15.00
6,Tarifa Bancária Bradesco,Despesa,Fixa,7.70
7,Spotify,Despesa,Fixa,8.50
8,Recarga Claro,Despesa,Fixa,20.00
9,Netflix,Despesa,Fixa,32.90
10,Crédito Passa-Fácil,Despesa,Fixa,100.00
11,Inglês EST Idiomas,Despesa,Fixa,120.00
12,Três bombons de cupuaçu,Despesa,Variável,2.00
13,Mingau,Despesa,Variável,2.00
14,Cinco limões,Despesa,Variável,2.50
15,Sorvete manaura mikaela,Despesa,Variável,2.50
16,Suco de laranja e dindin,Despesa,Variável,3.00
17,Biscoito mais Suco,Despesa,Variável,7.00
18,Coca gelada,Despesa,Variável,9.50
19,Açaí frozen,Despesa,Variável,12.00
20,Garrafão de água,Despesa,Variável,14.50
21,Sanduíche de carne e café,Despesa,Variável,18.00
22,Pizza Beg,Despesa,Variável,20.00
23,"Queijo, molho de tomate e sabão em pó",Despesa,Variável,20.24
24,Rodízio Dona Pizza,Despesa,Variável,34.00
25,Livro Harry Potter Order of the Phoenix,Despesa,Variável,39.90
26,Corrida Pop/Uber,Despesa,Variável,93.98
27,Lâmpada LED 12W,Despesa,Eventual Esperada,11.40
28,Duas blusa Taco,Despesa,Eventual Esperada,51.80
29,Livro Inglês 4A,Despesa,Eventual Esperada,192.00
30,Transferência Derimar Bradesco,Despesa,Eventual Esperada,400.00
31,Tandem + Amazon Prime Fatura Digio,Despesa,Dívida,124.89
32,Mouse e mousepad,Despesa,Emergência,29.90

## Business Rule

let's check your income and expense of the month :)

### Grouping by 'type' and by 'classif' and cumulating the sum

In [17]:
df_items['valor_acum'] = df_items.groupby(['tipo', 'classif']).cumsum()

In [18]:
df_items

,descricao,tipo,classif,valor,valor_acum
0,Fundação Universitas Projeto DCIoT,Receita,Fixa,1400.00,1400.00
1,Transferência Derimar Bradesco,Receita,Variável,249.23,249.23
2,Rendimento Poupança,Receita,Extra,1.97,1.97
3,Transferência Edson PicPay,Receita,Extra,5.00,6.97
4,Transferência Márcia PicPay,Receita,Extra,6.00,12.97
5,Transferência Manoel Bradesco,Receita,Extra,15.00,27.97
6,Tarifa Bancária Bradesco,Despesa,Fixa,7.70,7.70
7,Spotify,Despesa,Fixa,8.50,16.20
8,Recarga Claro,Despesa,Fixa,20.00,36.20
9,Netflix,Despesa,Fixa,32.90,69.10
10,Crédito Passa-Fácil,Despesa,Fixa,100.00,169.10
11,Inglês EST Idiomas,Despesa,Fixa,120.00,289.10
12,Três bombons de cupuaçu,Despesa,Variável,2.00,2.00
13,Mingau,Despesa,Variável,2.00,4.00
14,Cinco limões,Despesa,Variável,2.50,6.50
15,Sorvete manaura mikaela,Despesa,Variável,2.50,9.00
16,Suco de laranja e dindin,Despesa,Variável,3.00,12.00
17,Biscoito mais Suco,Despesa,Variável,7.00,19.00
18,Coca gelada,Despesa,Variável,9.50,28.50
19,Açaí frozen,Despesa,Variável,12.00,40.50
20,Garrafão de água,Despesa,Variável,14.50,55.00
21,Sanduíche de carne e café,Despesa,Variável,18.00,73.00
22,Pizza Beg,Despesa,Variável,20.00,93.00
23,"Queijo, molho de tomate e sabão em pó",Despesa,Variável,20.24,113.24
24,Rodízio Dona Pizza,Despesa,Variável,34.00,147.24
25,Livro Harry Potter Order of the Phoenix,Despesa,Variável,39.90,187.14
26,Corrida Pop/Uber,Despesa,Variável,93.98,281.12
27,Lâmpada LED 12W,Despesa,Eventual Esperada,11.40,11.40
28,Duas blusa Taco,Despesa,Eventual Esperada,51.80,63.20
29,Livro Inglês 4A,Despesa,Eventual Esperada,192.00,255.20
30,Transferência Derimar Bradesco,Despesa,Eventual Esperada,400.00,655.20
31,Tandem + Amazon Prime Fatura Digio,Despesa,Dívida,124.89,124.89
32,Mouse e mousepad,Despesa,Emergência,29.90,29.90

### Calculating Final Balance

In [19]:
df_final = df_items.groupby(['tipo']).agg({'valor':'sum'}).reset_index(drop = False)

In [20]:
df_final

      tipo    valor
0  Despesa  1380.21
1  Receita  1677.20

In [21]:
df_final = df_final.sort_values(by=['tipo'], key=lambda x: x.map(order_sort)).reset_index(drop = True)

In [22]:
df_final

      tipo    valor
0  Receita  1677.20
1  Despesa  1380.21

In [23]:
balance = round(df_final['valor'][0] - df_final['valor'][1], 2)

In [24]:
balance

296.99

In [25]:
df_balance = pd.DataFrame({'tipo':['Saldo'], 'valor':balance})

In [26]:
df_balance

    tipo   valor
0  Saldo  296.99

### Concating dataframes

In [27]:
df_final = pd.concat([df_final, df_balance]).reset_index(drop = True)

In [28]:
df_final

      tipo    valor
0  Receita  1677.20
1  Despesa  1380.21
2    Saldo   296.99

## Exporting data

In [29]:
 title = 'receitas&despesas_' + month + '.xlsx'

In [30]:
writer = pd.ExcelWriter(title)

### 'df_items' to .XLSX

In [31]:

df_items.to_excel(writer, sheet_name = 'items', index = False)

### 'df_final' to .XLSX

In [32]:
df_final.to_excel(writer, sheet_name = 'Saldo_final', index = False)

In [33]:
writer.save()

# The End